.main-nav{
    margin-bottom: 0;
  }
  header{
    display: flex;
    flex-direction: column;
        }
  
  .main-nav ul{
    background-color: #3b3b97;
   display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  }
  .second-nav{
    background-color: #38f0db;
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nav-a{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #nav-g{
    color: #3b3b97;
    text-decoration: none;
    font-weight: bold;
  
  
  }
  #g{
    background-color: #f7f7f7;
    font-size: 30px;
    font-weight: bold;
  
    border-radius: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  